<div class = "banner"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExa2x2amRvbGY3bndmN202NGQ5ajc1MjhsbXd3ZWJ5aGFpem51ODg1eiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/d31xwpLzabmMx9N6/giphy.gif);">
  <div class = "content">
    <div class ="home-title">
    <h1>Rent-A-Creature</h1>
    <p class="pokemon-font">Adventure’s better with a creature by your side.</p>
    <%= link_to "Explore", creatures_home_path, class: "pokemon-button edit"  %>

    </div>
  </div>
</div>
